<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>252299321426-klui1gc1pklro3899vpldecm4eisbug5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.252299321426-klui1gc1pklro3899vpldecm4eisbug5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>252299321426-cr0lv93k8478it52c24g0j252din62ur.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyASqQlq2bJHYhd-lho34ptt4RUkd_oIKnI</string>
	<key>GCM_SENDER_ID</key>
	<string>252299321426</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.affan.gamify</string>
	<key>PROJECT_ID</key>
	<string>gamify-2ad21</string>
	<key>STORAGE_BUCKET</key>
	<string>gamify-2ad21.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:252299321426:ios:88ca51d606888d56e63f8b</string>
</dict>
</plist>